html {
  font-size: 100%; // Lets user control zoom level in browser
  box-sizing: border-box; // Elements include padding in the final width
}

*, *::before, *::after { // Inherits box-sizing: border-box to all elements
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

body { // Style resets
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  min-height: 300vh;

  &.noscroll {
    overflow: hidden;
  }
}

// Flexbox styles

.flex {
  display: flex;

  &-jc-sb { // justify-content space-between
    justify-content: space-between;
  }

  &-jc-sa { // justify-content space-between
    justify-content: space-around;
  }

  &-jc-c { // justify-content center
    justify-content: center;
  }

  &-jc-s { // justify-content center
    justify-content: start;
  }

  &-ai-c { // align-items center
    align-items: center;
  }

  &-ai-s { // align-items center
    align-items: start;
  }
}

// General Styles
a, a:visited, a:hover {
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  font-size: 0.91rem;
  color: $white;
}

// Spacing
.container {
  margin: 0 auto;
  
  &--pall {
    padding-top: 3.125rem;
    padding-right: 1.875rem;
    padding-bottom: 3.125rem;
    padding-left: 1.875rem;
  }
  
}