.header {
  width: 100%;

  // Hero Styles
  &__hero {
    position: relative;
    height: 51.8125rem;
    width: 100%;    
    background-image: url('/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up (large) {
      height: 40.625rem;
      background-image: url('/images/desktop/image-hero.jpg');
      background-size: contain;
    }
  }

  // Desktop Styles
  nav {
    position: relative;

    @include breakpoint-down (medium) {
      .hide-for-mobile { // hides links on phones and small devices
        display: none;
      }
    }

    @include breakpoint-up (large) {
      .hide-for-desktop { // hides hamburger menu on desktop
        display: none;
      }
    }
  }

  &__links { 
    
    a {
      font-size: 14px;
      
      &:not(last-child) {
        margin-right: 2.0625rem;
      }

      &:last-child {
        margin-right: 8.4375rem;
      }
    }
  }

  // Mobile Styles 

  // Hamburger Menu
  &.open { // Hamburger Open Styles
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__toggle {
    > span {
      display: block;
      position: relative;
      width: 26px;
      height: 2px;
      background-color: $white;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
      z-index: 1;

      &:not(:last-child) {
        margin-bottom: 5px; // Adds margin-bottom to only the first two menu lines/spans
      }
    }
  }

  &__menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: $black;

    a {
      display: flex;
      flex-direction: column;
      color: $white;
      font-size: 1.5rem;
      line-height: 1rem;
      padding-left: 2.375rem;

      &:first-child {
        margin-top: 17.125rem;
      }

      &:not(:first-child) {
        margin-top: 2.375rem;
      }
    }
  }
  
  &__logo {
    flex-grow: 3;

    img {
      display: block;
      position: relative;
      width: 185px;
      height: 32px;
      z-index: 1;
    }

    @include breakpoint-up (large) {
      margin: 0.95rem 8.4375rem;
    }
  }

  &__slogan {
    flex-direction: column;
    margin: 9.75rem 1.75rem;
    padding: 2rem;
    border: 2px solid $white;

    & > span {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 3.2125em;
      font-weight: 200;
      color: $white;
    }

    & > span:last-child {
      margin-bottom: -0.3125rem;
    }

    @include breakpoint-up (large) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 40.6875rem;
      // height: 17.3125rem;
      margin-top: 65px;
      margin-left: 10.3125rem;
      font-size: 3.1875rem;

      & > span {
        font-size: 4.6rem;
        font-weight: 300;
      }
    }
  }
}  